table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

.images {
    width: 200px;
}